/* uncss:ignore */
.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}
.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
}
/* uncss:ignore */
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage::after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* uncss:ignore */
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
/* uncss:ignore */
.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
}
/* uncss:ignore */
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
/* uncss:ignore */
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none;
}
.no-js .owl-carousel {
    display: block;
}
/* uncss:ignore */
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* uncss:ignore */
.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* uncss:ignore */
.owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
/* uncss:ignore */
.owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
/* uncss:ignore */
.owl-carousel .owl-animated-in {
    z-index: 0;
}
/* uncss:ignore */
.owl-carousel .owl-animated-out {
    z-index: 1;
}
/* uncss:ignore */
.owl-carousel .fadeOut {
    animation-name: fadeOut;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* uncss:ignore */
.owl-carousel .owl-dots,
.owl-carousel .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-carousel .owl-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
/* uncss:ignore */
.owl-carousel .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}
/* uncss:ignore */
.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
/* uncss:ignore */
.owl-carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 30px;
}
/* uncss:ignore */
.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
    background: #bbdc2f;
}
/*! TACHYONS v4.7.2 | http://tachyons.io */
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
strong {
	font-weight: inherit;
	font-weight: bolder;
}
img {
	border-style: none;
}
button {
	margin: 0;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
/* 1 */
button,
html [type=button] {
	-webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
[type=button]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
/* 1 */
a,
article,
body,
div,
footer,
h2,
h3,
h4,
header,
html,
li,
p,
section,
ul {
	box-sizing: border-box;
	font-family: 'Abel', sans-serif;
}
.aspect-ratio {
	height: 0;
	position: relative;
}
.aspect-ratio--1x1 {
	padding-bottom: 100%;
}
.aspect-ratio--object {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}
img {
	max-width: 100%;
}
.outline-0 {
	outline: 0;
}
.ba {
	border-style: solid;
	border-width: 1px;
}
.br {
	border-right-style: solid;
	border-right-width: 1px;
}
.bb {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.bn {
	border-style: none;
	border-width: 0;
}
.b--black {
	border-color: #000;
}
.b--near-black {
	border-color: #1a2024;
}
.b--light-gray {
	border-color: #f1f1f1;
}
.br-pill {
	border-radius: 9999px;
}
.bw1 {
	border-width: .125rem;
}
/* uncss:ignore */
.top-0 {
	top: 0;
}
.bottom-0 {
	bottom: 0;
}
.left-0 {
	left: 0;
}
.bottom-1 {
	bottom: 1rem;
}
.right--1 {
	right: -1rem;
}
.bottom--1 {
	bottom: -1rem;
}
.left--1 {
	left: -1rem;
}
.top--2 {
	top: -2rem;
}
.bottom--2 {
	bottom: -2rem;
}
.cf:after,
.cf:before {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1;
}
.cb {
	clear: both;
}
.dn {
	display: none;
}
.db {
	display: block;
}
.dib {
	display: inline-block;
}
.dt {
	display: table;
}
.dtc {
	display: table-cell;
}
.flex {
	display: -ms-flexbox;
	display: flex;
}
.flex-column {
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-column {
}
.items-center {
	-ms-flex-align: center;
	align-items: center;
}
.justify-end {
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.justify-center {
	-ms-flex-pack: center;
	justify-content: center;
}
.justify-between {
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.fl {
	float: left;
}
.fl {
	_display: inline;
}
.h3 {
	height: 4rem;
}
.h-50 {
	height: 50%;
}
.h-100 {
	height: 101%;
}
.vh-100 {
	height: 100vh;
}
.link {
	text-decoration: none;
}
.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
	transition: color .15s ease-in;
}
.list {
	list-style-type: none;
}
.mw2 {
	max-width: 2rem;
}
.mw3 {
	max-width: 4rem;
}
.mw5 {
	max-width: 16rem;
}
.mw75 {
	max-width: 64rem;
}
.mw8 {
	max-width: 72rem;
}
.w0 {
	width: 2px;
}
.w-50 {
	width: 50%;
}
.w-100 {
	width: 100%;
}
.overflow-hidden {
	overflow: hidden;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
/* uncss:ignore */
.fixed {
	position: fixed;
}
.o-60 {
	opacity: .6;
}
.near-black {
	color: #1a2024;
}
.silver {
	color: #999;
}
.light-gray {
	color: #f1f1f1;
}
.white {
	color: #fff;
}
.green {
	color: #adcb2b;
}
.light-green {
	color: #bbdc2f;
}
.bg-near-black {
	background-color: #1a2024;
}
.bg-light-gray {
	background-color: #f1f1f1;
}
.bg-white {
	background-color: #fff;
}
.bg-transparent {
	background-color: transparent;
}
.bg-yellow {
	background-color: #f8cf1c;
}
/* uncss:ignore */
.bg-green {
	background-color: #adcb2b;
}
.bg-light-green {
	background-color: #bbdc2f;
}
.hover-near-black:focus,
.hover-near-black:hover {
	color: #1a2024;
}
.bg-green-80 {
	background-color: rgba(187, 220, 47, .8);
}
.hover-bg-yellow:focus,
.hover-bg-yellow:hover {
	background-color: #f8cf1c;
}
.hover-bg-green:focus,
.hover-bg-green:hover {
	background-color: #adcb2b;
}
.pa1 {
	padding: .25rem;
}
.pa2 {
	padding: .5rem;
}
.pa3 {
	padding: 1rem;
}
.pa4 {
	padding: 2rem;
}
.pl2 {
	padding-left: .5rem;
}
.pr2 {
	padding-right: .5rem;
}
.pr3 {
	padding-right: 1rem;
}
.pb1 {
	padding-bottom: .25rem;
}
.pb2 {
	padding-bottom: .5rem;
}
.pb3 {
	padding-bottom: 1rem;
}
.pb4 {
	padding-bottom: 2rem;
}
.pb5 {
	padding-bottom: 4rem;
}
.pb6 {
	padding-bottom: 8rem;
}
.pt2 {
	padding-top: .5rem;
}
.pt3 {
	padding-top: 1rem;
}
.pt4 {
	padding-top: 2rem;
}
.pt5 {
	padding-top: 4rem;
}
.pv1 {
	padding-top: .25rem;
	padding-bottom: .25rem;
}
.pv2 {
	padding-top: .5rem;
	padding-bottom: .5rem;
}
.pv35 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.pv4 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.pv5 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.ph0 {
	padding-left: 0;
	padding-right: 0;
}
.ph1 {
	padding-left: .25rem;
	padding-right: .25rem;
}
.ph2 {
	padding-left: .5rem;
	padding-right: .5rem;
}
.ph3 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.ph5 {
	padding-left: 4rem;
	padding-right: 4rem;
}
.mr1 {
	margin-right: .25rem;
}
.mb2 {
	margin-bottom: .5rem;
}
.mb3 {
	margin-bottom: 1rem;
}
.mb4 {
	margin-bottom: 2rem;
}
.mt1 {
	margin-top: .25rem;
}
.mt2 {
	margin-top: .5rem;
}
.mv2 {
	margin-top: .5rem;
	margin-bottom: .5rem;
}
.nt2 {
	margin-top: -0.5rem;
}
.nt3 {
	margin-top: -1rem;
}
.nt4 {
	margin-top: -2rem;
}
.tc {
	text-align: center;
}
.ttu {
	text-transform: uppercase;
}
.f1 {
	font-size: 3rem;
}
.f2 {
	font-size: 2.25rem;
}
.f3 {
	font-size: 1.5rem;
}
.f4 {
	font-size: 1.25rem;
}
.f5 {
	font-size: 1rem;
}
.f6 {
	font-size: 0.875rem;
}
.center {
	margin-right: auto;
	margin-left: auto;
}
.v-mid {
	vertical-align: middle;
}
.v-top {
	vertical-align: top;
}
.v-btm {
	vertical-align: bottom;
}
.dim {
	opacity: 1;
}
.dim,
.dim:focus,
.dim:hover {
	transition: opacity .15s ease-in;
}
.dim:focus,
.dim:hover {
	opacity: .5;
}
.dim:active {
	opacity: .8;
	transition: opacity .15s ease-out;
}
.hide-child .child {
	opacity: 0;
	transition: opacity .15s ease;
}
.hide-child:active .child,
.hide-child:focus .child,
.hide-child:hover .child {
	opacity: 1;
	transition: opacity .15s ease;
}
.pointer:hover {
	cursor: pointer;
}
.bg-animate,
.bg-animate:focus,
.bg-animate:hover {
	transition: background-color .2s ease-in-out;
}
.z-4 {
	z-index: 4;
}
.z-999 {
	z-index: 999;
}
@media screen and (min-width:40em) {
	.left-2-ns {
		left: 2rem;
	}
	.right-2-ns {
		right: 2rem;
	}
	.db-ns {
		display: block;
	}
	.flex-ns {
		display: -ms-flexbox;
		display: flex;
	}
	.flex-row-ns {
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.fl-ns {
		float: left;
	}
	.fl-ns {
		display: inline;
	}
	.vh-100-ns {
		height: 100vh;
	}
	.w-20-ns {
		width: 20%;
	}
	.w-25-ns {
		width: 25%;
	}
	.w-50-ns {
		width: 50%;
	}
	.fixed-ns {
		position: fixed;
	}
	.pa4-ns {
		padding: 2rem;
	}
	article .pa4-ns {
		padding: 1.7rem;
	}
	.pb0-ns {
		padding-bottom: 0;
	}
	.pb5-ns {
		padding-bottom: 4rem;
	}
	.pt4-ns {
		padding-top: 2rem;
	}
	.pt5-ns {
		padding-top: 4rem;
	}
	.pt6-ns {
		padding-top: 8rem;
	}
	.pv4-ns {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.pv5-ns {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.ph0-ns {
		padding-left: 0;
		padding-right: 0;
	}
	.ph4-ns {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.ml3-ns {
		margin-left: 1rem;
	}
	.mh2-ns {
		margin-left: .5rem;
		margin-right: .5rem;
	}
	.f2-ns {
		font-size: 2.25rem;
	}
	article .f2-ns {
		font-size: 2.1rem;
	}
	.f3-ns {
		font-size: 1.5rem;
	}
	.f4-ns {
		font-size: 1.25rem;
	}
}
@media screen and (max-width:60em) {
	.dn-m {
		display: none;
	}
}
@media screen and (min-width:60em) {
	.dn-l {
		display: none;
	}
	.mh2-l {
		margin-left: .5rem;
		margin-right: .5rem;
	}
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
[data-aload] {
    background-image: none !important;
}
:focus {
    border: 0;
    outline: 0;
}
article,
footer,
header,
section {
    display: block;
}
h2,
h3,
h4 {
    font-weight: normal;
}
.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff url(../assets/images/preloader.gif) center no-repeat;
}
.middle-logo {
    height: calc(100vh - 100px);
    display: table;
    width: 100%;
}
.icon-tickets {
    width: 120px;
    margin: 0 auto;
}
.buy .icon-tickets {
    width: 140px;
    margin: 0 auto;
}
#toggle-menu {
    height: 46px;
}
#toggle-menu::after {
    display: block;
    height: 4px;
    width: 20px;
    margin-top: 6px;
    border-top: 2px solid #1a2024;
    border-bottom: 2px solid #1a2024;
    content: '';
}
#toggle-menu::before {
    transition: all 0.3s ease;
    position: absolute;
    display: block;
    height: 2px;
    width: 20px;
    background: #1a2024;
    content: '';
}
/* uncss:ignore */
#toggle-menu.menu-opened {
    position: relative;
}
#toggle-menu.menu-opened::after {
    transition: all 0.3s ease;
    border: 0;
    margin: 0;
    height: 2px;
    width: 19px;
    background: #1a2024;
    transform: rotate(45deg);
}
#toggle-menu.menu-opened::before {
    background: #1a2024;
    width: 19px;
    margin: 0;
    transform: rotate(-45deg);
}
.trama {
    background-attachment: fixed;
    background-image: url(../assets/images/header.png);
    background-position: 50%;
    background-size: cover;
}
.profile-speaker {
    max-width: 400px;
}
.back-home {
    background: url(../assets/images/back-home.svg);
    width: 35px;
    height: 40px;
    display: block;
    float: right;
    transform: translateZ(0);
}
.back-home .tooltip,
.back-home .tooltip::before {
    display: block;
    position: absolute;
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}
.back-home .tooltip::after,
.back-home .tooltip::before {
    content: " ";
    position: absolute;
}
.back-home .tooltip {
    background: #f8cf1c;
    bottom: 0;
    color: #1a2024;
    right: 50px;
    opacity: 0;
    padding: 10px 20px;
    transform: translateX(10px);
    transition: all 0.25s ease-out;
}
.back-home .tooltip::before {
    bottom: -20px;
    height: 20px;
    left: 0;
}
.back-home .tooltip::after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #f8cf1c;
    bottom: 10px;
    height: 0;
    left: 50%;
    margin-left: 35px;
    width: 0;
}
.back-home:hover .tooltip {
    opacity: 1;
    transform: translateX(0);
}
.sponsors-logos li {
    background-color: #0f171c;
}
.sponsors-logos li:hover {
    background-color: #070b0d;
}
.sponsors-logos .platino li {
    max-width: 400px;
}
.sponsors-logos .gold li {
    max-width: 350px;
}
.sponsors-logos .silver li {
    max-width: 300px;
}
.sponsors-logos .media-partners li {
    max-height: 50px;
    background: transparent;
}
.sponsors-logos .media-partners li img {
    max-height: 50px;
}
.lines {
    background: url(../assets/images/lines-fotos.png) repeat-x bottom;
    width: 100%;
    height: auto;
}
.lines-tickets {
    background: url(../assets/images/lines-tickets.png) repeat-x top;
    width: 100%;
    height: auto;
}
.hexagon {
    position: relative;
    margin: 70px auto;
    width: 180px;
    height: 105px;
    background-position: center center;
    background-size: 220px;
    z-index: 1;
    line-height: 110px;
    text-align: center;
}
.hexagon.buy {
    position: relative;
    margin: 60px auto;
    width: 210px;
    height: 121px;
    z-index: 1;
    line-height: 110px;
    text-align: center;
}
.hexagon.buy,
.hexagon.buy .hexa-out,
.hexagon.buy .hexa-in {
    border-left: dashed 1px #1a2024;
    border-right: dashed 1px #1a2024;
}
.hexagon .hexa-out,
.hexagon .hexa-in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: inherit;
    z-index: -1;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.hexagon .hexa-out::before,
.hexagon .hexa-in::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 220px;
    background: inherit;
}
.hexagon .hexa-out {
    transform: rotate(60deg);
}
.hexagon .hexa-out::before {
    left: 0;
    transform-origin: left top;
    transform: rotate(-60deg) translate(-110px, 0);
}
.hexagon .hexa-in {
    transform: rotate(-60deg);
}
.hexagon .hexa-in::before {
    right: 0;
    transform-origin: right top;
    transform: rotate(60deg) translate(110px, 0);
}
.lines a p span {
    transition: 0.6s;
    transition-delay: 0.2s;
    position: relative;
}
.lines a p::before,
.lines a p::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.4s, opacity 0.6s;
}
.lines a p::before {
    content: attr(data-hover);
    transform: translateX(-100%);
}
.lines a:hover p span {
    opacity: 0;
}
.lines a:hover p::before {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.4s;
}
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(187, 220, 47, 0.8);
    z-index: 9999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none !important;
    display: none;
}
.modalDialog:target {
    opacity: 1;
    pointer-events: auto !important;
    display: block;
}
.modalDialog > div {
    max-width: 700px;
    margin: 10% auto;
    position: relative;
    background: #1a2024;
    color: white;
    transition: transform 400ms ease-in;
    border-radius: 3px;
}
.title-modal {
    background-color: #000;
    height: 65px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 25px;
    color: white;
    text-transform: uppercase;
}
.title-modal a {
    color: white;
}
/* uncss:ignore */
.title-modal ul li {
    list-style: none;
}
.modal-content {
    padding: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;
    text-align: center;
}
.close span {
    line-height: 25px;
    width: 25px;
    height: 25px;
    border: solid 2px;
    border-radius: 25px;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
    background-color: #1a2024;
}
.close p {
    display: inline-block;
    margin-bottom: 0;
}
/* uncss:ignore */
.tito-submit {
    transition: color 0.15s ease-in;
    transition: background-color 0.2s ease-in-out;
    text-transform: uppercase;
    border: none;
    font-size: 1.25rem;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem 4rem;
    text-align: center;
    background-color: #f8cf1c;
    border-radius: 50px;
    font-family: 'Abel', sans-serif;
}
/* uncss:ignore */
.tito-ticket-name {
    display: none;
}
/* uncss:ignore */
.tito-ticket-quantity-field {
    color: #1a2024;
    padding: 8px;
    margin-left: 8px;
    font-size: 30px;
    max-width: 100px;
}
/* uncss:ignore */
.tito-ticket-status-sold-out {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 20px;
}
/* uncss:ignore */
.tito-tickets-unavailable a {
    color: #f8cf1c;
    text-decoration: none;
}
/* uncss:ignore */
.tito-ticket-description {
    text-align: center;
    font-size: 18px;
    padding: 10px 0 30px;
}
/* uncss:ignore */
.tito-ticket {
    margin: 0;
}
/* uncss:ignore */
.tito-ticket-price-quantity {
    margin: 20px 0;
}
/* uncss:ignore */
.tito-ticket-price {
    font-size: 36px;
}
/* uncss:ignore */
.tito-ticket-vat {
    font-size: 12px;
    font-style: italic;
    text-transform: lowercase;
}
/* uncss:ignore */
.tito-ticket-price,
.tito-ticket-quantity {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}
/* uncss:ignore */
.tito-badge-link {
    display: none;
}
/* uncss:ignore */
.tito-submit:hover {
    background-color: #bbdc2f;
}
/* uncss:ignore */
.tito-ticket-list {
    margin-bottom: 0;
}
/* uncss:ignore */
.tito-tickets-unavailable p:first-child {
    margin-top: 0;
}
/* uncss:ignore */
.tito-tickets-unavailable p:last-child {
    margin-bottom: 0;
}
#fotos-owl {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#map {
    width: 100%;
    height: 400px;
    display: block;
}
#bodymovin {
    height: 100%;
    width: 100%;
    padding-top: 90px;
    overflow: hidden;
}
#logo-movin {
    height: 70%;
    width: 70%;
    overflow: hidden;
}
@media screen and (max-width: 40em) {
    .trama {
        background-size: 100%;
    }

    .profile-speaker {
        width: 100%;
    }

    .modalDialog > div {
        margin: 0 auto;
    }

    .modal-content {
        padding: 20px 10px;
    }

    .tito-ticket-description {
        font-size: 15px;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* uncss:ignore */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
/* uncss:ignore */
.fadeIn {
    animation-name: fadeIn;
}
.glitch-txt {
    position: relative;
}
@keyframes noise-anim {
    0% {
        clip: rect(19px, 9999px, 30px, 0);
    }

    5% {
        clip: rect(44px, 9999px, 30px, 0);
    }

    10% {
        clip: rect(8px, 9999px, 24px, 0);
    }

    15% {
        clip: rect(61px, 9999px, 91px, 0);
    }

    20% {
        clip: rect(18px, 9999px, 39px, 0);
    }

    25% {
        clip: rect(81px, 9999px, 100px, 0);
    }

    30% {
        clip: rect(92px, 9999px, 23px, 0);
    }

    35% {
        clip: rect(6px, 9999px, 62px, 0);
    }

    40% {
        clip: rect(9px, 9999px, 75px, 0);
    }

    45% {
        clip: rect(16px, 9999px, 38px, 0);
    }

    50% {
        clip: rect(52px, 9999px, 92px, 0);
    }

    55% {
        clip: rect(64px, 9999px, 38px, 0);
    }

    60% {
        clip: rect(79px, 9999px, 68px, 0);
    }

    65% {
        clip: rect(80, 9999px, 67px, 0);
    }

    70% {
        clip: rect(42px, 9999px, 63px, 0);
    }

    75% {
        clip: rect(77px, 9999px, 79px, 0);
    }

    80% {
        clip: rect(91px, 9999px, 48px, 0);
    }

    85% {
        clip: rect(65px, 9999px, 54px, 0);
    }

    90% {
        clip: rect(85px, 9999px, 17px, 0);
    }

    95% {
        clip: rect(33px, 9999px, 81px, 0);
    }

    100% {
        clip: rect(36px, 9999px, 22px, 0);
    }
}
.glitch-txt::after {
    content: attr(data-text);
    position: absolute;
    text-shadow: -1px 0 #f1f1f1;
    left: 1px;
    top: 0;
    width: 100%;
    overflow: hidden;
    clip: rect(0, 900, 0, 0);
    animation: noise-anim 2s linear infinite alternate-reverse;
}
@keyframes noise-anim-2 {
    0% {
        clip: rect(40, 9999px, 35px, 0);
    }

    5% {
        clip: rect(11px, 9999px, 5px, 0);
    }

    10% {
        clip: rect(63px, 9999px, 14px, 0);
    }

    15% {
        clip: rect(60, 9999px, 8px, 0);
    }

    20% {
        clip: rect(79px, 9999px, 68px, 0);
    }

    25% {
        clip: rect(4px, 9999px, 52px, 0);
    }

    30% {
        clip: rect(3px, 9999px, 37px, 0);
    }

    35% {
        clip: rect(14px, 9999px, 29px, 0);
    }

    40% {
        clip: rect(87px, 9999px, 89px, 0);
    }

    45% {
        clip: rect(13px, 9999px, 37px, 0);
    }

    50% {
        clip: rect(96px, 9999px, 74px, 0);
    }

    55% {
        clip: rect(50, 9999px, 4px, 0);
    }

    60% {
        clip: rect(32px, 9999px, 4px, 0);
    }

    65% {
        clip: rect(33px, 9999px, 52px, 0);
    }

    70% {
        clip: rect(68px, 9999px, 25px, 0);
    }

    75% {
        clip: rect(44px, 9999px, 83px, 0);
    }

    80% {
        clip: rect(88px, 9999px, 32px, 0);
    }

    85% {
        clip: rect(81px, 9999px, 38px, 0);
    }

    90% {
        clip: rect(48px, 9999px, 39px, 0);
    }

    95% {
        clip: rect(19px, 9999px, 94px, 0);
    }

    100% {
        clip: rect(48px, 9999px, 30px, 0);
    }
}
.glitch-txt::before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 1px 0 #f1f1f1;
    left: -1px;
    top: 0;
    width: 100%;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    animation: noise-anim-2 3s linear infinite alternate-reverse;
}
.btn-scroll-down {
    width: 100px;
    height: 35px;
    margin: auto;
    z-index: 10;
    transition: display 0.5s easy-in-out;
}
.btn-scroll-down::after {
    content: '';
    display: block;
    border-bottom: 2px solid #1a2024;
    border-right: 2px solid #1a2024;
    transform: rotate(45deg);
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}
.btn-scroll-down::after {
    width: 25px;
    height: 25px;
    bottom: 0;
    animation: sc-down-a 0.3s infinite alternate;
}
.b-ticket::before {
    animation: bounce 1s infinite alternate;
    content: '';
    display: block;
    padding-bottom: 2rem;
}
@keyframes sc-down-a {
    0% {
        transform: translateY(0) rotate(45deg);
    }

    100% {
        transform: translateY(2px) rotate(45deg);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0) scale(1);
    }

    100% {
        transform: translateY(2px) scale(1.05);
    }
}
